.screen-left__list__song {
  display: flex;
  align-items: center;
  color: whitesmoke;
  margin: 10px 18px;
  border-radius: 20px;
}

.screen-left__list__song:hover {
  background-color: gray;
}

.screen-left__list__avatar {
  width: 90px;
  height: 70px;
  border-radius: 20px;
}

.screen-left__list__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0 15px;
}

.screen-left__list__text__icon {
  display: flex;
  justify-content: flex-end;
}

.screen-left__list__song:nth-child(2) {
  filter: drop-shadow(0 0 0.85rem white);
}
