@import "status-bar.css";
@import "sound-bar.css";
@import "screen-right.css";
@import "screen-left.css";
@import "screen-left__list.css";
@import "right-main.css";
@import "bar.css";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
